<!DOCTYPE html>
<%- include('layout/header', {title: 'Editando Usuário' }); %>

    <html lang="pt-br">

    <body class="bg-dark-subtle">
        <%- include('layout/navbar', {loggedUser}); %>
            <%- include('layout/formStudent', {student, users}) %>
    </body>

    </html>